body {
    background: url(../upload/bgc.png) no-repeat;
    background-size: cover;
}

.main {
    overflow: hidden;
    margin-left: 2%;
}

.blocklyDiv {
    float: left;
    width: 50%;
    height: 39rem;
    margin-top: 12%;
}

#textarea {
    float: left;
    margin-top: 7%;
    background-color: #FBFAF5;
    border: 0;
    box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, .3)
}